@model IEnumerable<KnowledgeHub.Models.GeneratedClassesByEF.TeacherRegisteredCours>

@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <title>Teacher Class Room</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/all.css" rel="stylesheet" />
       <link href="~/Content/teacherClassroom.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="menu">
                    <img class="logo" src="~/Image/logo1.png">
                    <ul>
                        <li>@Html.ActionLink("HOME", "LandingPage", new { userid = ViewBag.UserID }) </li>
                        <li>@Html.ActionLink("VIEW PROFILE", "ViewProfile", new { id = Model.FirstOrDefault().TeacherId }, new { @target = "_blank" })  @*<a href="/Student/ViewProfile/@Model.Viewer_ID">VIEW PROFILE</a>*@</li>
                        <li>@Html.ActionLink("REGISTRATION", "TeacherRegisterCourse", new { id = Model.FirstOrDefault().TeacherId })</li>
                        <li>@Html.ActionLink("TIME TABLE", "TimeTable", new { id = Model.FirstOrDefault().TeacherId })</li>
                        <li>@Html.ActionLink("CLASS ROOM", "Classroom", new { id = Model.FirstOrDefault().TeacherId })</li>
                        <li>@Html.ActionLink("LATEST NEWS", "LatestNews", new { id = Model.FirstOrDefault().TeacherId })</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9">
                <h3>Class Room</h3>
               
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-6">
                            <div class="class1">
                                <a href="#" onclick="openModal(@item.id)">
                                    <div class="class11">
                                       
                                        <h4>@item.CourseName</h4>
                                        <h6>@item.Days</h6>
                                        <h6>@item.Timing</h6>
                                        <p>@item.TeacherName</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }

                    @*<div class="col-sm-6">
                        <div class="class2">
                            <a href="#">
                                <div class="class22">
                                    <h4>Marketing</h4>
                                    <h6>Tuesday</h6>
                                    <h6>12pm - 2pm</h6>
                                    <p>Ahmed Raza</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="class3">
                            <a href="#">
                                <div class="class33">
                                    <h4>Psychology</h4>
                                    <h6>Wednessday</h6>
                                    <h6>2pm - 4pm</h6>
                                    <p>Farhan Bukhari</p>
                                </div>
                            </a>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>

</body>
</html>

<!-- Modal -->
<div class="col-md-12">

    <div class="modal" id="ModalCourses" tabindex="-1" style="display:none">
        <div class="modal-dialog">
            <div class="modal-content" style="background:#F7F9FA;height: 236px;">
                <div class="modal-header" style="background:#F7F9FA">

                    <h4>Add URL(s) For Selected Course</h4><span id="btnCloseRFIPU" style="float:right; cursor:pointer;"><img src="~/Image/1024px-Crystal_Clear_action_button_cancel.svg.png" style="width:15px" /></span>

                </div>
                <div class="modal-body">
                    <label>Enter URL</label>&nbsp;@*<span class="satrikred">*</span>*@<br />
                    <input type="text" id="urlCourse" style="width:495px"/>
              
                </div>
               <div class="col-md-12"><input type="button" id="btnAddURL" value="Add" class="btn btn-danger rejectBtn" onclick='AddURL()' /></div> 
              
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {

        $("#btnCloseRFIPU").click(function () {
            $("#ModalCourses").hide();
        });


    });
    var SelectedCourseId;
    function openModal(id)
    {
        SelectedCourseId = id;
        $("#ModalCourses").show();       
       
         
    }

    function AddURL()
    {
        var html = '';
        $.ajax({
            url: "/Teacher/InsertURL",
            data: JSON.stringify({
                "URL": $("#urlCourse").val(),
                "CourseId": SelectedCourseId
            }),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {

                alert("URL Added Successfully");
                document.getElementById('urlCourse').value = "";
            },
            error: function () {
                alert("Oops, something wrong happened");
            }
        });
    }

</script>