@model IEnumerable<KnowledgeHub.Models.GeneratedClassesByEF.TeacherRegisteredCours>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Teacher TimeTable</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/all.css" rel="stylesheet" />
    <link href="~/Content/teacherTimeTable.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="menu">
                    <img class="logo" src="~/Image/logo1.png">
                    <ul>
                        <li>@Html.ActionLink("HOME", "LandingPage", new { userid = ViewBag.UserID })</li>
                        <li>@Html.ActionLink("VIEW PROFILE", "ViewProfile", new { id = ViewBag.presenterID }, new { @target = "_blank" })</li>
                        <li>@Html.ActionLink("REGISTRATION", "TeacherRegisterCourse", new { id = ViewBag.presenterID })</li>
                        <li>@Html.ActionLink("TIME TABLE", "TimeTable", new { id = ViewBag.presenterID })</li>
                        <li>@Html.ActionLink("CLASS ROOM", "Classroom", new { id = ViewBag.presenterID })</li>
                        <li><a href="teacherLatestNews.html">LATEST NEWS</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9">
                <h3>TIME TABLE</h3>
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>Courses Names</th>
                            <th>Teachers Names</th>
                            <th>Timings</th>
                            <th>Days</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CourseName</td>
                                <td>@item.TeacherName</td>
                                <td>@item.Timing</td>
                                <td>@item.Days</td>
                            </tr>
                        }
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
