@model IEnumerable<KnowledgeHub.Models.GeneratedClassesByEF.NEWS>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Student Latest News</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/all.css" rel="stylesheet" />
    <link href="~/Content/studentLatestNews.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="menu">
                    <img class="logo" src="~/Image/logo1.png">
                    <ul>
                        <li>@Html.ActionLink("HOME", "LadingPage", new { userid = ViewBag.UserID })</li>
                        <li>@Html.ActionLink("VIEW PROFILE", "ViewProfile", new { id = ViewBag.Viewer_id }, new { @target = "_blank" })</li>
                        <li>@Html.ActionLink("REGISTRATION", "TeacherRegisterCourse", new { id = ViewBag.Viewer_id })</li>
                        <li>@Html.ActionLink("TIME TABLE", "TimeTable", new { id = ViewBag.Viewer_id })</li>
                        <li>@Html.ActionLink("CLASS ROOM", "Classroom", new { id = ViewBag.Viewer_id })</li>
                        <li>@Html.ActionLink("LATEST NEWS", "LatestNews", new { id = ViewBag.Viewer_id })</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9">
                <h3>LATEST NEWS</h3>
                @foreach (var item in Model)
                {
                    <div><p>@item.News1</p> </div>
                }
                @*<p>No Latest News yet!</p>*@
            </div>
        </div>
    </div>
</body>
</html>
